@font-face {
  font-family: "Cabinet Grotesk";
  src: url("../../vendor/fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

.switch {
  margin-left: auto;
  display: flex;
  position: relative;
}

.switch__box {
  border-radius: 25px;
  border: 2px solid black;
  width: 56px;
  height: 28px;
  appearance: none;
}
.switch__slider {
  border-radius: 20px;
  width: 28px;
  height: 28px;
  background-color: black;
  color: white;
  text-align: center;
  cursor: pointer;
  position: absolute;
}

.switch__slider-c {
  left: 28px;
}

.switch__active {
  color: white;
}

.switch-temp-c {
  font-family: "Inter";
  font-weight: 700;
  font-size: 14px;
  position: absolute;
  left: 36px;
  top: -7px;
  color: white;
}

.switch-temp-f {
  font-family: "Inter";
  font-weight: 700;
  font-size: 14px;
  position: absolute;
  left: 10px;
  top: -7px;
  color: white;
}
