.modal__content_delete {
  max-width: 670px;
  height: 280px;
  display: flex;
  position: relative;
  top: -20px;
  align-items: center;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
}
.modal__delete_text {
  width: 367px;
  height: 48px;
  text-align: center;
}
.confirm__delete_btn {
  background-color: transparent;
  border: none;
  color: #ff4d00;
  margin-top: 20px;
  margin-bottom: 24px;
  padding: 0;
  cursor: pointer;
}
.cancel__delete_btn {
  margin: auto;
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
