.modal__label {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #000;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal__input {
  padding: 12px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  outline: none;
}

.modal__input:focus {
  border-color: #000;
}

.modal__radio-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 8px;
}

.modal__radio {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
