.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  font-size: 20px;
  line-height: 24.8px;
  font-weight: 700;
  font-family: "CabinetGrotesk";
}

.header__logo {
  width: 89px;
  height: 40px;
  padding-right: 24px;
}
.header__add_clothes {
  opacity: 1;
}
.header__add_clothes:hover {
  opacity: 0.2;
}

.header__date_time {
  margin: 0;
}

.header__add_clothes {
  margin-left: 20px;
  border: none;
  padding-right: 20px;
  background: none;
  font-weight: 700;
}

.header__user_info {
  display: flex;
  align-items: center;
  margin: 0;
}

.header__username {
  padding-right: 12px;
}
.Profile__header-link {
  text-decoration: none;
  color: black;
}
.header__login {
  background-color: none;
  border: none;
  height: 25px;
  margin: 0px 0px 0px 20px;
  padding: none;
}
.header__signup {
  background-color: none;
  border: none;
  margin: 0px 0px 0px 36px;
  padding: none;
}
.header__user_avatar {
  height: 40px;
  width: 40px;
}
