.modal__image {
  max-width: 498px;
  width: 100%;
  position: relative;
  display: block;
  overflow: auto;
}

.modal__close {
  z-index: 2;
  border: none;
  background: transparent;
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}

.modal__content_type_image {
  display: block;
  overflow: hidden;
  padding: 0;
  position: relative;
  background-color: white;
  border-radius: 8px;
}

.modal__footer {
  position: relative; /* needed to anchor delete button */
  padding: 20px 32px 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.modal__caption {
  margin: 0;
  font-weight: 700;
  padding: 0 0 12px;
  font-size: 20px;
}

.modal__weather {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
}

.modal__delete-card {
  position: absolute;
  top: 20px;
  right: 32px;
  background-color: transparent;
  width: 101px;
  height: 24px;
  border: none;
  color: #ff4d00;
  padding: 0;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}
